/target
**/*.rs.bk
__pycache__
*.pyc
dist/
build/
*egg*
docs/build/
docs/stubs/
docs/apiref/
docs/source/apiref/
docs/source/stubs/
.tox/
retworkx/*.so
retworkx/*pyd
*.stestr/
*.ps
*.png
!/docs/source/images/*.png
*.svg
*.jpg
retworkx-core/Cargo.lock
