/target
**/*.rs.bk
__pycache__
*.pyc
dist/
build/
*egg*
docs/build/
docs/stubs/
docs/apiref/
docs/source/apiref/
docs/source/stubs/
.tox/
.nox/
retworkx/*.so
retworkx/*pyd
*.stestr/
*.ps
*.png
*.svg
!/docs/source/images/*.svg
*.jpg
**/*.so
retworkx-core/Cargo.lock
