[package]
name = "rustworkx"
description = "A python graph library implemented in Rust"
version = "0.12.1"
authors = ["Matthew Treinish <mtreinish@kortar.org>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/Qiskit/rustworkx"
keywords = ["python", "graph"]
edition = "2018"

[workspace]
members = [
    "rustworkx-core",
]

[lib]
name = "rustworkx"
crate-type = ["cdylib"]

[dependencies]
ahash = { version = "0.7.6", default-features = false }
petgraph = "0.6.2"
fixedbitset = "0.4.2"
numpy = "0.17.2"
rand = "0.8"
rand_pcg = "0.3"
rayon = "1.5"
num-traits = "0.2"
num-bigint = "0.4"
num-complex = "0.4"
quick-xml = "0.22.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
rustworkx-core = { path = "rustworkx-core", version = "=0.12.1" }

[dependencies.pyo3]
version = "0.17.3"
features = ["extension-module", "hashbrown", "num-bigint", "num-complex", "indexmap"]

[dependencies.hashbrown]
version = "0.11"
features = ["rayon"]

[dependencies.ndarray]
version = "^0.13.1"
features = ["rayon"]

[dependencies.indexmap]
version = "1.7"
features = ["rayon"]

[profile.release]
lto = 'fat'
codegen-units = 1
