[package]
name = "retworkx"
description = "A python graph library implemented in Rust"
version = "0.8.0"
authors = ["Matthew Treinish <mtreinish@kortar.org>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/Qiskit/retworkx"
keywords = ["python", "graph"]
edition = "2018"

[badges]
travis-ci = {repository = "Qiskit/retworkx"}

[lib]
name = "retworkx"
crate-type = ["cdylib"]

[dependencies]
petgraph = "0.5.1"
fixedbitset = "0.2.0"
numpy = "0.12.1"
rand = "0.8"
rand_pcg = "0.3"
rayon = "1.5"

[dependencies.pyo3]
version = "0.13.2"
features = ["extension-module", "hashbrown"]

[dependencies.hashbrown]
version = "0.9"
features = ["rayon"]

[dependencies.ndarray]
version = "^0.13.0"
features = ["rayon"]

[profile.release]
lto = 'fat'
codegen-units = 1
