{%- set external_urls = {
  'github': 'https://github.com/Qiskit/retworkx',
  'docs': 'https://retworkx.readthedocs.io/en/stable/',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'resources': 'https://qiskit.org/learn',
}
-%}
