name: Docs Publish
on:
  workflow_dispatch:
  push:
    tags:
      - "*"

concurrency:
  group: docs-gh-pages

jobs:
  deploy:
    if: github.repository_owner == 'Qiskit'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel nox
        sudo apt-get install graphviz pandoc
    - name: Build docs
      run: |
        tools/build_documentation_release.sh
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v2
      with:
        name: html_docs
        path: release_docs/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: release_docs/
        force_orphan: true
